{% extends "layout.html" %}

{% block title %}
    | login
{% endblock %}

{% block main %}
    <div class="container-sm mb-3 app-logo">
        <a href="/login"><img src="/static/contactus.png" height="100px"></a>
    </div>
    <div class="container-sm mt-3">
        <form action="/login" method="post">
            <div class="col-md-8 offset-md-2">
                <div class="form-floating mb-3">
                    <input autocomplete="off" autofocus class="form-control" id="username" name="username" placeholder type="text">
                    <label for="username">username</label>
                </div>
            </div>
            <div class="col-md-8 offset-md-2">
                <div class="form-floating mb-3">
                    <input class="form-control" id="password" name="password" placeholder type="password">
                    <label for="password">password</label>
                </div>
            </div>
            <p class="login-info">no account? <a href="/register">register here</a>.</p>
            <button class="btn btn-primary btn-lg" type="submit"><i class="fa-solid fa-right-to-bracket"></i> login</button>
        </form>
    </div>
{% endblock %}
