{% extends "layout.html" %}

{% block title %}
    | settings
{% endblock %}

{% block main %}
    <div class="container-sm align-left">
        <form action="/settings" method="post">
            <div class="container mb-3">
                <h3>password</h3>
                <div class="form-floating mb-3">
                    <input class="form-control" type="password" id="old_password" name="old_password" placeholder>
                    <label for="old_password">old password</label>
                </div>
                <div class="form-floating mb-3">
                    <input class="form-control" type="password" id="new_password" name="new_password" placeholder>
                    <label for="new_password">new password</label>
                </div>
                <button class="btn btn-primary" type="submit" formaction="/settings/change-password">change password</button>
            </div>
            <div class="container mb-3">
                <h3>username</h3>
                <div class="form-floating mb-3">
                    <input autocomplete="off" class="form-control" type="text" id="old_username" name="old_username" placeholder>
                    <label for="old_username">old username</label>
                </div>
                <div class="form-floating mb-3">
                    <input autocomplete="off" class="form-control" type="text" id="new_username" name="new_username" placeholder>
                    <label for="new_username">new username</label>
                </div>
                <button class="btn btn-primary" type="submit" formaction="/settings/change-username">change username</button>
            </div>
            <div class="container">
                <hr>
            </div>
            <div class="container">
                <h3>delete all contacts</h3>
                <button class="btn btn-secondary" type="submit" formaction="/settings/delete-all"><i class="fa-solid fa-triangle-exclamation"></i> delete all contacts</button>
            </div>
            <div class="container">
                <hr>
            </div>
            <div class="container">
                <h3>delete account</h3>
                <button class="btn btn-secondary" type="submit" formaction="/settings/delete-account"><i class="fa-solid fa-triangle-exclamation"></i> delete account</button>
            </div>
        </form>
    </div>
{% endblock %}
